.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Formatting Header*/
.Header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem 1rem 0rem;  /*top, right, bottom, left*/
  background: #ded0ff;
}

.Header p {
  text-decoration: none;
  color: #18424c;
}

.Header ul {
  list-style: none;
  display: flex;
}

.Header ul li.RightSide {
  padding-left: 2rem;
}

.Header a {
  text-decoration: none;
  color: purple;
}

.Header a.RightSide {
  text-decoration: none;
  color: purple;
  display: flex;
}


/*Formatting DropDownNaviBar*/
.DropDownNaviBar {
  display: flex; /*enters "flexbox layout mode" = useful/auto sizing/spacing*/
  /*justify-content: space-around; /*how items are spread inside flexbox*/
  /* max-width: 800px, auto; */
  
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.DropDownNaviBar .entire-dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0d9ea1;
  min-width: 100%;
}

.DropDownNaviBar .dropdown {
  flex: 1;
  /* margin: 0; */
  position: relative;
}

.DropDownNaviBar .about-me-btn {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: medium;
  background-color: white;
}

.DropDownNaviBar .about-me-btn:hover {
  background-color: peachpuff;
}

.DropDownNaviBar .empty-space {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.DropDownNaviBar .seperate-dropdown {
  position: relative;
}


.DropDownNaviBar .websites-button {
  border: none;
  color: black; 
  background-color: green;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 16px;
  min-width: 250px;
  width: 100%;
  text-indent: 5px;
  padding: 12px 4px;
}

.DropDownNaviBar .websites-button:hover {
  color: orange; 
  padding: 12px 4px;
  border: none;
}

.DropDownNaviBar .websites-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 100%;
  top: 0;
}

.DropDownNaviBar .websites-content a {
  color: black;
  padding: 12px 4px;
  text-decoration: none;
  display: block;
}

.DropDownNaviBar .websites-content a:hover {
  background-color: rgb(170, 7, 7);
}

.DropDownNaviBar .seperate-dropdown:hover .websites-content{
  display: block;
}

.DropDownNaviBar .seperate-dropdown:hover .websites-button {
  background-color: purple;
  padding: 12px 4px;
}


.DropDownNaviBar .my-btn {
  /* background-color: #04AA6D; */
  border: 1px solid black;
  color: black; 
  background-color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  min-width: 250px;
  width: 100%;
  /* margin: auto; */
}

.DropDownNaviBar .my-btn:hover {
  border: none;
  color: black; 
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.DropDownNaviBar .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}
  
.DropDownNaviBar .dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.DropDownNaviBar .dropdown-content a:hover {
  background-color: lightgray;
}

.DropDownNaviBar .dropdown:hover .dropdown-content{
  display: block;
}

.DropDownNaviBar .dropdown:hover .my-btn {
  background-color: peachpuff;
  border: 1px solid black;
}



/*Formatting Footer*/
.Footer {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background: #c08ff7;
}

/*Formatting Loading page*/
.Loading {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  background: white;
  font-size: xx-large;
}

/*Formatting Homepage*/
.HomePage .main-items {
  display: flex;
  flex-direction: row;
}

.HomePage .bio {
  /* background-color: #df33d6; */
  margin-left: 160px;
  width: 300px;
}

.HomePage .bio .square-pic-in-center {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-left: 18px;
  align-items: center;
  /* background-color: #04AA6D; */
  max-width: 250px;
  max-height: 250px;
  overflow: hidden;
  border: 5px solid #ded0ff;
}

.HomePage .bio .center-portrait {
  max-width: 250px; 
}

.HomePage .bio .text {
  /* padding-left: 1em; */
  /* background-color: #0d9ea1; */
  display: flex;
}

.HomePage .bio .text-like-heading {
  /* padding-left: 1em; */
  /* background-color: #0d9ea1; */
  display: block;
  font-size: medium;
  flex-wrap: wrap;
}

.HomePage .bio .text-like-heading-list {
  /* background-color: #0d9ea1; */
  display: block;
  font-size: x-large;
  flex-wrap: wrap;
  font-weight: bold;
}

.HomePage .line-divider {
  display: block;
  background-color: black;
  margin-left: 40px;
  width: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.HomePage .blog-stuff {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1165px;
}

.HomePage .blog-stuff .blog-block {
  /* background-color: #0d47a1; */
  margin-bottom: 60px;
  margin-left: 2em;
}

.HomePage .blog-stuff .article-heading {
  color: black;
  text-decoration: none;
}

.HomePage .view-all-button {
  display: block;
  text-align: center;
  /* background-color: #18424c; */
  margin-top: 40px;
  width: 1190px;
  height: 80px;
}

.HomePage .view-all-button .button-size {
  min-height: 50px;
  min-width: 300px;
}

.HomePage .articles {
  min-height: 800px;
  max-height: 800px;
  overflow-y: scroll;
  /* background-color: aqua; */
}

/*Formatting coolpage*/
.coolpage .big-div {
  display: block;
  width: 100%;
  background-color: #0d47a1;
  height: 1000px;
  
}

.coolpage .banners-background {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(90deg,
  rgba(255, 0, 0, 1) 0%,
  rgba(255, 154, 0, 1) 10%,
  rgba(208, 222, 33, 1) 20%,
  rgba(79, 220, 74, 1) 30%,
  rgba(63, 218, 216, 1) 40%,
  rgba(47, 201, 226, 1) 50%,
  rgba(28, 127, 238, 1) 60%,
  rgba(95, 21, 242, 1) 70%,
  rgba(186, 12, 248, 1) 80%,
  rgba(251, 7, 217, 1) 90%,
  rgba(255, 0, 0, 1) 100%);
  background-size: 200% 100%;
  animation: slide 2s linear infinite;

}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0; /* The image width */
  }
}

.coolpage .center-text {
  text-align: center;
}

/*For passing article titles + intros*/
.intro-pass {
  font-size: x-large;
}

/*WIP center text*/
.wip-box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.wip-center {
  text-align: center;
}

/*Color for random testing*/
.aqua {
  color: aqua;
}